body{
  height: 800px;
  background: #45ADA8;  
  background: -webkit-linear-gradient(180deg, #45ADA8, #9DE0AD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(180deg, #45ADA8, #9DE0AD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg, #45ADA8, #9DE0AD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, #45ADA8, #9DE0AD);  
}

.title{
	text-align: center;
	color: #fff;
	font-size: 55px;
	font-family: 'Damion', cursive;
}
