.timer{
  display: none;
  justify-content: center;
}

/* Titles */

.title{
	text-align: center;
	color: #fff;
	font-size: 55px;
	font-family: 'Damion', cursive;
}

.action {
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
}

/* Hourglass */

.box{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.glass{
  width: 200px;
  border: 2px solid #fff;
}

.top-glass{
	border-radius: 300px 300px 500px 500px;
  position: relative;
  width: 172px;
  border-width: 130px 65px 0;
  border-style: solid;
  border-color: #fff transparent;
}

.bottom-glass{
  position: relative;
  width: 172px;
  border-width: 0 65px 130px;
  border-style: solid;
  border-color: #fff transparent;
  border-radius: 500px 500px 300px 300px;
}

.time{
  display: flex;
  justify-content: center;
	text-align: center;
	color: #fff;
	font-size: 55px;
}

/* Buttons */

.btn{
  margin: 0 5px 0 5px;
}

.button-group {
  display: flex;
  justify-content: center;
}

.fa {
  font-size: 30px;
}

.fa-play, .fa-pause {
  font-size: 15px;
}

#start-break{
  display: none;
}